@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  background-color: yellow;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color:purple;
  font-size: 40px;
  white-space: nowrap;
}

.text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  

}

div {
  padding-top: 20px;
  padding-bottom: 50px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  justify-content: center;

}

.flex-container > div {
  margin: 10px;
  padding: 50px;
  font-size: 30px;
}

.flex-containerMovies {
  display: flex;
  background-color: blue;
  justify-content: center;

}

.flex-containerMovies > div {
  padding: 10px;
  font-size: 30px;
  height: auto;
}