.Centered {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.PageHeading {
    color: darkslategray;
    font-family: fantasy;
    text-align: center;
}
.flexbox {
    display: flex;
    justify-content: center;
}
.links:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    width: 50%;
    padding: 10px;
}
ul {
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
  }