

h1{
    color: white;
    font-family: "Copperplate"
}

h1{
    background-color:black
}



.Title{
    color: violet;
    font-family: "Copperplate" 
}



img{
    width: 150px;
    height: auto;
}

.Oasis{
    width: 150px;
    height: auto;
}

.Jamiroquai{
    width: 150px;
    height: 150px;
}
