

h1{
    display: flex;
    justify-content: column;
    color: white;
    font-family: "Copperplate"
}




.Top_paragraph{
    display:flex;
    justify-content: center;
    color: violet;
    text-align:center;
    font-size: 20px;
    border-style: dotted;
    font-family: "Copperplate" 

}



img{
    width: 150px;
    height: auto;
}

.album_covers {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row-reverse

    
}

.Title_Row{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: green;

}

.Spotify_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.Link_description{
    color: Blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
